@page
@model SUBDCOURSE.Pages.FacilitiesModel
@{
}
<div class="text-center">

    <h2 class="text-center">Удобства</h2>

    <table id="myTable" class="info__table">
        <thead>
            <tr class="info__table-row">
                <th class="info__table-column">№</th>
                <th class="info__table-column">Название удобства</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var facility in Model.Facilities)
            {
                <tr class="info__table-row">
                    <td class="info__table-column">@facility.Id</td>
                    <td class="info__table-column">@facility.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="forms_blocks">
    <form class="itemReviewForm" method="post">
        <input name="name" class="itemInputName" placeholder="Название" required />
        <button asp-page-handler="Insert" id="submit" class="itemButtonReview">Добавить</button>
    </form>

    <form class="itemReviewForm" method="post">
        Выберите удобство:
        <select id="facility_id" class="select_option" name="facility_id" required>
            <option></option>
            @foreach (var s in Model.Facilities)
            {
                <option>@s.Name</option>
            }
        </select>
        <button asp-page-handler="Delete" id="submit" class="itemButtonReview">Удалить</button>
    </form>
</div>
