@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <br />
    <h1>Курсовая работа по теме "АРМ администратора гостиницы"</h1>
    <br/>
    <h2 >Работа выполнена студентом 3 курса группы ПИн-120</h2>
    <h3>Андроновым Ильей Алексеевичем</h3>
</div>
