@font-face {
    font-family: "Philosopher";
    font-weight: 700;
    src: url("../fonts/philosopher-bold.ttf");
}



html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    overflow-x:hidden;
    padding: 0 30px;
}

.container {
    display: block !important;
}

.info__table {
    background-color: #ffffff !important;
    color: #444 !important;
    border-radius: 5px !important;
    width: 100% !important;
}

thead {
    color: red !important;
}

.info__table-column--white {
    background-color: #ffffff;
}

.info__table-row {
    border-bottom: 1px solid #C5C7CD !important;
}

.info__table-column {
    text-align: center !important;
    font-family: 'Philosopher' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    letter-spacing: 0.2px !important;
    color: #252733 !important;
    padding: 20px !important;
    vertical-align: middle !important;
    max-width: 20px !important;
}

.info__table-row:nth-child(1) .info__table-column {
    color: #C5C7CD;
}

.info__table-column-avatar {
    position: relative;
}

.info__table-column-avatar-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.itemButtonBuy {
    width: 250px;
    border-radius: 10px;
    height: 60px;
    background: #1F1E1E;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 24px;
}

.categoryRow {
    display: flex;
    margin: 20px 20px 40px 20px;
    justify-content: space-between;
    border-bottom: 5px double black;
}

a:active, /* активная/посещенная ссылка */
a:hover, /* при наведении */
a {
    text-decoration: none;
    color: lightgray;
}

.categoryText {
    color: black;
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.1em;
}

.categoryUnderline {
    height: 2px;
    background: black;
    width: 0%;
}

.categoryItem {
    margin: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

    .categoryItem.active .categoryUnderline {
        width: 100%;
        height: 2px;
        animation: none !important;
    }

    .categoryItem.anim:not(.active) .categoryUnderline {
        width: 100%;
        height: 2px;
        background: black;
        animation-duration: 0.5s;
        animation-name: openUnderline;
    }

    .categoryItem.hidden:not(.active) .categoryUnderline {
        width: 0%;
        animation-duration: 0.5s;
        animation-name: closeUnderline;
    }

@keyframes openUnderline {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes closeUnderline {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

.forms_blocks {
    display: flex;
    justify-content: space-around;
    height: auto;
    margin-top: 20px;
}

.itemReviewForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 15px #0006;
    border-radius: 20px;
    padding: 20px;
}


.itemInputName {
    border: 3px black solid;
    width: 250px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    padding: 5px 10px;
}

.select_option {
    border-radius: 5px;
    border: 3px black solid;
    width: 250px;
    height: 40px;
    margin: 10px;
}

.itemButtonReview {
    width: 250px;
    border-radius: 10px;
    height: 60px;
    background: #1F1E1E;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 20px;
    margin: 10px;
}

